# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.env
env/
venv/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
/media/
media/
staticfiles/
/staticfiles/

# System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Docker
*.env

# Node
node_modules/
