version: '3.8'

services:
  web:
    environment:
      DJANGO_DEBUG: "True"
      ALLOWED_HOSTS: "localhost,127.0.0.1"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    command: python manage.py runserver 0.0.0.0:8000

volumes:
  static_volume:
  media_volume:
