{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
  <div class="card bg-dark text-light mx-auto" style="max-width:500px;">
    <div class="card-body text-center">
      <h3>Confirm Email</h3>

      <p>
        Please confirm that
        <strong>{{ confirmation.email_address.email }}</strong>
        is your email.
      </p>

      <form method="post">
        {% csrf_token %}
        <button class="btn btn-success w-100">
          Confirm Email
        </button>
      </form>
      
    </div>
  </div>
</div>
{% endblock %}
